
.blogin{ background:url("../Images//bot.jpg") no-repeat; line-height:80px; color:#FFF; font:14px "黑体";}

.btn{ background:url("../Images//dl.png"); border:0px; width:80px;height:22px; line-height:20px; border:1px solid #FFF; margin-left: 10px;}
.a1{background:url("../Images/top6.jpg") no-repeat;}