* {
	margin: 0px; padding: 0px;
}
table {
	font-size: 12px;
}
td {
	padding: 2px;
}
img {
	border: 0px currentColor; border-image: none;
}
#container {
	margin: 0px auto; width: 100%; position: relative;
}
.clear {
	height: 0px; clear: both; font-size: 0px;
}
.clear10 {
	height: 10px; clear: both;
}
#header {
	height: 134px; position: relative;
}
.fahgenrs {
	left: 610px; top: 40px; width: 300px; height: 30px; position: absolute;
}
body {
	font-family: Verdana, Geneva, sans-serif; font-size: 12px; background-color: rgb(255, 255, 255);
}
ul {
	list-style: none;
}
li {
	list-style: none;
}
dt {
	list-style: none;
}
dd {
	list-style: none;
}
dl {
	list-style: none;
}
a {
	outline: 0px; text-decoration: none; cursor: pointer;
}
a:hover {
	color: rgb(243, 120, 0);
}
.fr {
	text-align: right; float: right;
}
.red {
	color: rgb(243, 120, 0); font-weight: bold;
}
.mr10 {
	margin-right: 10px;
}
.link_1 a {
	color: rgb(90, 90, 90);
}
.link_1 a:hover {
	color: rgb(61, 150, 24); text-decoration: underline;
}
.link_2 a {
	color: rgb(121, 121, 121);
}
.link_2 a:hover {
	color: rgb(61, 150, 24); text-decoration: underline;
}
.banner_box {
	margin-bottom: 16px; min-height: 198px; min-width: 800px;
}
.banner_box img {
	width: 100%; height: 100%;
}
.logo {
	left: 210px; width: 245px; height: 60px; padding-top: 10px; float: left; position: absolute;
}
#dianmiss {
	margin: 0px auto; width: 1000px; height: 230px;
}
#right_layout {
	width: 1000px; float: left;
}
#sub_left_layout {
	background: rgb(236, 234, 211); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(223, 221, 193) rgb(223, 221, 193); border-image: none; width: 148px; height: 120px; overflow: hidden; float: left;
}
#sub_right_layout {
	width: 840px; height: 120px; overflow: hidden; float: right;
}
#center_layout {
	padding-top: 20px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; _display: inline;
}
.header_banner {
	width: 630px; height: 215px; text-align: right; overflow: hidden; float: right;
}
.center_line {
	background: url("../Images/center_line.gif") no-repeat; height: 32px; clear: both;
}
#foot {
	left: 0px; width: 100%; height: 30px; text-align: center; color: rgb(238, 238, 238); line-height: 30px; font-family: arial; position: absolute;
}
.notice {
	margin: 0px 0px 10px 10px;
}
.notice .contents {
	padding: 0px 10px; width: 623px; min-height: 100px; _height: 100px;
}
.titles {
	height: 37px; color: rgb(47, 96, 25); line-height: 37px; overflow: hidden; padding-left: 15px; font-family: microsoft Yahei; font-size: 16px; font-weight: bold;
}
.news {
	background: url("../Images/news.gif") no-repeat; width: 600px; height: 160px; float: left;
}
.news_right_img {
	width: 194px; height: 160px; float: right;
}
.right_line {
	background: url("../Images/right_line.gif") no-repeat; width: 21px; height: 310px; float: right;
}
#right_box {
	float: left;
}
.top_title {
	top: 10px; height: 20px; right: 0px; line-height: 20px; clear: both; margin-top: 5px; float: right; position: absolute;
}
.top_user {
	top: 50px; width: 180px; height: 20px; text-align: center; right: 500px; color: rgb(255, 0, 0); line-height: 20px; text-indent: 5px; clear: both; float: right; position: absolute;
}
.top_title a {
	color: rgb(176, 176, 176); font-size: 12px; text-decoration: none;
}
.top_user1 {
	top: 70px; width: 180px; height: 20px; text-align: center; right: 500px; color: rgb(255, 0, 0); line-height: 20px; text-indent: 5px; clear: both; float: right; position: absolute;
}
.top_title a:hover {
	color: rgb(14, 184, 58);
}
.user_dl dt {
	width: 60px;
}
.user_dl dd {
	width: 50px; text-align: left; float: right;
}
.header_post {
	background: rgb(250, 250, 243); width: 200px; height: 215px; color: rgb(77, 77, 77); margin-right: 10px; float: left;
}
.cont {
	padding: 5px; line-height: 20px; text-indent: 24px;
}
.icon_user {
	width: 220px; clear: both; font-weight: bold;
}
.icon_post {
	background: url("../Images/icon_post.gif") no-repeat left; margin: 20px 0px 10px 15px; color: rgb(8, 84, 15); text-indent: 24px; clear: both; font-weight: bold;
}
#user-manage {
	width: 220px; line-height: 30px; font-size: 12px; margin-left: 10px;
}
#user-manage table td li {
	width: 190px; height: 30px; line-height: 30px; float: left; display: block;
}
.img-manage img {
	
}
.img-manage .contents {
	width: auto;
}
.img-manage a {
	width: 68px; text-align: center; color: rgb(1, 136, 204); display: block;
}
.img-list li {
	margin: 8px 10px; width: 68px; float: left; _display: inline; _margin: 8px 10px;
}
.news_cont {
	
}
.list_1 li {
	height: 34px; color: rgb(123, 123, 123); line-height: 34px; text-indent: 2px; font-size: 14px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: solid;
}
.list_1 span {
	margin-right: 5px; float: right; display: inline;
}
.list_2 li {
	color: rgb(123, 123, 123); padding-top: 5px; border-bottom-color: rgb(234, 234, 234); border-bottom-width: 1px; border-bottom-style: dashed;
}
.list_2 span {
	margin-right: 15px; float: right; display: inline;
}
.list_2 li a {
	height: 24px; line-height: 24px;
}
.news_left {
	margin: 10px 0px 0px 50px; width: 310px; height: 150px; color: rgb(167, 167, 167); float: left; display: inline;
}
.news_left .title {
	margin: 10px 0px;
}
.news_right {
	margin: 10px 0px 0px 10px; width: 215px; height: 150px; float: right;
}
.news_right li {
	line-height: 24px; border-bottom-color: rgb(232, 232, 232); border-bottom-width: 1px; border-bottom-style: dashed;
}
.more a {
	width: 40px; height: 20px; color: rgb(1, 136, 204); font-size: 12px; font-weight: normal; float: right;
}
.more2 a {
	margin: 5px 5px 0px 0px; width: 40px; height: 20px; float: right;
}
#sub_main {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(198, 198, 198) rgb(198, 198, 198); margin: 0px auto; border-image: none; width: 946px; min-height: 300px;
}
.center_line2 {
	background: rgb(232, 232, 232); margin: 0px auto; border: 1px solid rgb(198, 198, 198); border-image: none; width: 946px; height: 35px; line-height: 35px; clear: both;
}
.center_line2 h1 {
	color: rgb(205, 0, 1); line-height: 35px; text-indent: 15px; font-size: 14px; font-weight: bold;
}
.center_line2 span {
	line-height: 35px; margin-right: 10px; float: right;
}
.tab_s1 {
	border: 1px solid rgb(236, 234, 211); border-image: none; border-collapse: collapse;
}
.tab_s1 td {
	background: rgb(250, 250, 243); border: 1px solid rgb(223, 221, 193); border-image: none; height: 28px; line-height: 28px; padding-left: 8px;
}
.tab_s1 .btm {
	background: rgb(236, 234, 211); border: 0px currentColor; border-image: none; height: 35px;
}
.tab_s2 {
	border-collapse: collapse;
}
.tab_s2 td {
	background: rgb(250, 250, 243); border: 1px solid rgb(223, 221, 193); border-image: none; height: 28px; line-height: 28px; padding-left: 8px;
}
.tab_s2 .btm {
	background: rgb(236, 234, 211); height: 35px;
}
.tab_s3 td {
	border: 0px currentColor; border-image: none;
}
.p_news {
	width: 700px; height: 225px; margin-left: 10px; float: left; display: inline;
}
.holdline {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; width: 470px; height: 234px; float: left; display: inline;
}
.holdline_1 {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; width: 220px; height: 234px; float: right; display: inline;
}
.ptl {
	width: 100%; margin-bottom: 10px; float: left; display: inline;
}
.ptl span {
	color: rgb(47, 96, 25); font-family: microsoft Yahei; font-size: 16px; font-weight: bold; margin-top: 10px; margin-left: 10px; float: left; display: inline;
}
.ptl a:link {
	color: rgb(102, 102, 102); text-decoration: none; margin-top: 10px; margin-right: 10px; float: right; display: inline;
}
.ptl a:visited {
	color: rgb(102, 102, 102); text-decoration: none; margin-top: 10px; margin-right: 10px; float: right; display: inline;
}
.ptl a:link {
	color: rgb(47, 96, 25);
}
.ptl a:visited {
	color: rgb(47, 96, 25);
}
.new_news {
	width: 216px; height: 180px; overflow: hidden; margin-bottom: 10px; margin-left: 10px; float: left; display: inline;
}
ul.top_news {
	width: 216px; float: left; display: inline;
}
ul.top_news li {
	margin-bottom: 3px; float: left; display: inline;
}
ul.top_news li.tnimg img {
	display: block;
}
ul.top_news li.tnimg a:link {
	border: 1px solid rgb(255, 255, 255); border-image: none; display: block;
}
ul.top_news li.tnimg a:visited {
	border: 1px solid rgb(255, 255, 255); border-image: none; display: block;
}
ul.top_news li.tnimg a:hover {
	border: 1px solid rgb(47, 96, 25); border-image: none; display: block;
}
ul.top_news li.tnimg a:active {
	border: 1px solid rgb(47, 96, 25); border-image: none; display: block;
}
ul.top_news li.tntl a:link {
	width: 216px; height: 20px; text-align: center; line-height: 20px; text-decoration: none; vertical-align: middle; display: block;
}
ul.top_news li.tntl a:visited {
	width: 216px; height: 20px; text-align: center; line-height: 20px; text-decoration: none; vertical-align: middle; display: block;
}
ul.top_news li.tncon {
	width: 216px; line-height: 18px; text-indent: 24px; vertical-align: middle;
}
.line_jg {
	background: rgb(204, 204, 204); width: 1px; height: 180px; margin-bottom: 10px; margin-left: 10px; float: left; display: inline;
}
ul.dalely_n {
	width: 216px; float: left; display: inline;
}
ul.dalely_n li {
	width: 216px; float: left; display: inline;
}
ul.dalely_n li a:link {
	width: 216px; height: 20px; line-height: 20px; overflow: hidden; text-decoration: none; display: block;
}
ul.dalely_n li a:visited {
	width: 216px; height: 20px; line-height: 20px; overflow: hidden; text-decoration: none; display: block;
}
ul.dalely_n li a:hover {
	text-decoration: underline;
}
ul.dalely_n li a:active {
	text-decoration: underline;
}
.p_tixian {
	width: 228px; overflow: hidden; float: right; display: inline;
}
ul.idx_dzw {
	width: 208px; height: 160px; overflow: hidden; margin-bottom: 10px; float: left; display: inline;
}
ul.idx_dzw li {
	margin: 5px 0px 0px 10px; padding: 0px; width: 208px; float: left; display: inline;
}
ul.idx_dzw li span {
	text-align: center; color: rgb(15, 99, 171); float: left; display: inline;
}
ul.idx_dzw li span.cash {
	width: 70px; line-height: 20px;
}
ul.idx_dzw li span.usename {
	width: 70px; line-height: 20px;
}
ul.idx_dzw li span.date {
	width: 68px; line-height: 20px;
}
.tixiantl {
	width: 208px; margin-left: 10px; float: left; display: inline;
}
.tixiantl span {
	text-align: center; color: rgb(198, 79, 8); font-size: 14px; font-weight: bold; float: left; display: inline;
}
.tixiantl span.usename {
	width: 70px; line-height: 20px;
}
.tixiantl span.cash {
	width: 70px; line-height: 20px;
}
.tixiantl span.date {
	width: 68px; line-height: 20px;
}
.p_jp {
	width: 100%; float: left; display: inline;
}
.holdline_2 {
	background: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-image: none; width: 960px; height: 175px; float: left; display: inline;
}
#slide {
	width: 960px; height: 130px; overflow: hidden; float: left;
}
ul.pdlist {
	margin-bottom: 15px; float: left; display: inline;
}
ul.pdlist li {
	width: 102px; margin-bottom: 15px; margin-left: 15px; float: left; display: inline;
}
ul.pdlist li span.pdimg a:link {
	border: 1px solid rgb(255, 255, 255); border-image: none; width: 100px; height: 100px; display: block;
}
ul.pdlist li span.pdimg a:visited {
	border: 1px solid rgb(255, 255, 255); border-image: none; width: 100px; height: 100px; display: block;
}
ul.pdlist li span.pdimg a:hover {
	border: 1px solid rgb(47, 96, 25); border-image: none;
}
ul.pdlist li span.pdimg a:active {
	border: 1px solid rgb(47, 96, 25); border-image: none;
}
ul.pdlist li span.pdtx a:link {
	width: 102px; height: 20px; text-align: center; color: rgb(102, 102, 102); line-height: 20px; text-decoration: none; display: block;
}
ul.pdtx li span.pdimg a:visited {
	width: 102px; height: 20px; text-align: center; color: rgb(102, 102, 102); line-height: 20px; text-decoration: none; display: block;
}
ul.pdlist li span.pdtx a:hover {
	color: rgb(47, 96, 25); text-decoration: underline;
}
ul.pdlist li span.pdtx a:active {
	color: rgb(47, 96, 25); text-decoration: underline;
}
ul.pd_show li {
	margin-bottom: 15px; margin-left: 15px;
}
.zc_hong {
	color: rgb(255, 0, 0); font-size: 16px;
}
.hong {
	color: rgb(255, 0, 0);
}
.lan {
	color: rgb(0, 0, 255);
}
.msg_tip {
	background: url("../Images/msg_bg.png") no-repeat 0px -150px; height: 16px; line-height: 16px; text-indent: 20px; float: left;
}
.msg_ok {
	background: url("../Images/msg_bg.png") no-repeat 0px -250px; width: 16px; height: 16px; line-height: 16px; float: left;
}
.msg_error {
	background: url("../Images/msg_bg.png") no-repeat 0px 0px; height: 16px; line-height: 16px; text-indent: 20px; float: left;
}
.focus_r {
	padding: 2px 5px; height: 16px; color: rgb(51, 51, 51); float: left;
}
.info {
	margin-left: 10px; float: left;
}
.shou {
	font-size: 14px !important; font-weight: bold !important;
}
.STYLE1 {
	color: rgb(255, 0, 0);
}
.STYLE3 {
	color: rgb(255, 0, 0);
}
.c_p5 {
	margin-top: 1px;
}
.c_p10 {
	margin-top: 10px;
}
.tips {
	background-position: 10px 6px; padding: 5px; border: 1px solid rgb(199, 94, 30); border-image: none; line-height: 22px; text-indent: 22px; font-size: 12px; background-image: url("../Images/light.gif"); background-repeat: no-repeat; background-color: rgb(255, 246, 208);
}
.zc_hong {
	color: rgb(255, 0, 0); font-size: 16px;
}
.hong {
	color: rgb(255, 0, 0); font-family: Verdana, Geneva, sans-serif; font-size: 14px;
}
.lan {
	color: rgb(0, 0, 255);
}
.msg_tip {
	background: url("../Images/msg_bg.png") no-repeat 0px -150px; height: 16px; line-height: 16px; text-indent: 20px; float: left;
}
.msg_ok {
	background: url("../Images/msg_bg.png") no-repeat 0px -250px; width: 16px; height: 16px; line-height: 16px; float: left;
}
.msg_error {
	background: url("../Images/msg_bg.png") no-repeat 0px 0px; height: 16px; line-height: 16px; text-indent: 20px; float: left;
}
.focus_r {
	padding: 2px 5px; height: 16px; color: rgb(51, 51, 51); float: left;
}
.info {
	margin-left: 10px; float: left;
}
.shou {
	font-size: 14px !important; font-weight: bold !important;
}
.ncenter_box {
	background: rgb(251, 252, 253); margin: 6px auto 8px; width: 98%; height: auto;
}
.ncenter_box .accounttitle {
	background: url("../Images/mian_tipg.jpg"); height: 30px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ncenter_box .accounttitle h1 {
	background: url("../Images/sub_bav_left.gif") no-repeat 3px; height: 29px; color: rgb(102, 102, 102); line-height: 29px; padding-left: 20px; font-size: 14px; font-weight: bold;
}
.ncenter_box .accounttitle_1 {
	background: url("../Images/mian_tipg.jpg"); height: 30px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ncenter_box .accounttitle_1 h1 {
	background: url("../Images/sub_bav_left.gif") no-repeat 3px 5px; height: 29px; color: rgb(102, 102, 102); line-height: 10px; padding-left: 20px; font-size: 14px; font-weight: bold;
}
.bottom {
	width: 960px; height: 18px; float: left;
}
.bt_tj {
	background: url("../Images/account_btn.jpg"); padding: 2px 10px; border: 1px solid rgb(180, 180, 180); border-image: none; height: 26px; color: rgb(113, 113, 113); line-height: 20px; font-size: 12px; font-weight: bold; cursor: pointer;
}
.btn1 {
	background: url("../Images/account_btn.jpg"); padding: 2px 10px; border: 1px solid rgb(180, 180, 180); border-image: none; height: 26px; color: rgb(113, 113, 113); line-height: 20px; font-size: 12px; font-weight: bold; cursor: pointer;
}
.button_text {
	background: url("../Images/account_btn.jpg"); padding: 2px 10px; border: 1px solid rgb(180, 180, 180); border-image: none; height: 26px; color: rgb(113, 113, 113); line-height: 20px; font-size: 12px; font-weight: bold; cursor: pointer;
}
.bt_tj1 {
	background: url("../Images/corp_main_table_bbj.gif"); border: currentColor; border-image: none; width: 170px; height: 26px; color: rgb(255, 255, 255); line-height: 30px; padding-left: 18px; font-size: 14px; font-weight: bold;
}
.inpt {
	background: url("../Images/account_inputbg.jpg") no-repeat; border: currentColor; border-image: none; width: 242px; height: 24px !important; color: rgb(85, 85, 85); line-height: 24px; padding-left: 5px;
}
.inp {
	background: url("../Images/account_inputbg.jpg") no-repeat; border-width: medium 1px medium medium; border-style: none solid none none; border-color: currentColor rgb(184, 184, 184) currentColor currentColor; border-image: none; width: 70px; height: 24px; color: rgb(85, 85, 85); line-height: 24px; padding-left: 8px;
}
.yangs_bnte {
	text-align: center;
}
input[type='text'] {
	height: 21px;
}
input[type='password'] {
	height: 21px;
}
input[type='type'] {
	height: 21px;
}
.tab3 {
	background: rgb(251, 252, 253);
}
.tab3 td {
	padding: 2px; border: 1px solid rgb(213, 220, 229); border-image: none; height: 24px; line-height: 24px; font-size: 12px;
}
.tab3 th {
	 border: 1px solid rgb(213, 220, 229); border-image: none; height: 28px; text-align: center; line-height: 28px; font-size: 12px; font-weight: bold;
}
.tab3 th:hover {
     height: 28px; text-align: center; line-height: 28px; font-weight: bold;
}
.tab3 {
	padding: 2px 20px; border-collapse: collapse; border-spacing: 0;
}
.tab3_bottom {
	background: rgb(255, 255, 229); padding: 5px; border: 1px solid rgb(228, 228, 228); border-image: none; height: 24px; line-height: 24px; font-size: 12px; margin-top: 10px;
}
.bar_foot {
	background: rgb(255, 255, 229); padding: 5px; border: 1px solid rgb(228, 228, 228); border-image: none; height: 24px; line-height: 24px; font-size: 12px; margin-top: 10px;
}
.tab4 {
	font-size: 12px;
}
.tab4 td {
	height: 20px;
}
.tab4 {
	background-color: rgb(251, 252, 253);
}
.tab5 td {
	border-bottom-color: rgb(228, 228, 228); border-bottom-width: 1px; border-bottom-style: solid;
}
.footer {
	background: rgb(242, 242, 242); margin: 0px auto; width: 100%; height: 50px; text-align: center; color: rgb(170, 170, 170); line-height: 40px; border-top-color: rgb(228, 228, 228); border-top-width: 1px; border-top-style: solid;
}
.hpanel {
	width: 100%; overflow: hidden; min-width: 1090px;
}
.offer {
	border-radius: 2px; border: 1px solid rgb(241, 246, 250); border-image: none; width: 48%; text-align: center; min-height: 290px; min-width: 540px;
}
.req_b {
	border-radius: 2px; border: 1px solid rgb(241, 246, 250); border-image: none; width: 48%; text-align: center; min-height: 290px; min-width: 540px;
}
.offer {
	background: url("../Images/button-img1.jpg") no-repeat 0% 0% / cover; float: left;
}
.req_b {
	background: url("../Images/button-img2.jpg") no-repeat 0% 0% / cover; float: right;
}
.offer p {
	color: rgb(255, 255, 255); font-family: "΢���ź�"; font-size: 20px; margin-top: 40px; text-shadow: 1px 1px 0px #303030;
}
.req_b p {
	color: rgb(255, 255, 255); font-family: "΢���ź�"; font-size: 20px; margin-top: 40px; text-shadow: 1px 1px 0px #303030;
}
.offer span {
	color: rgb(85, 204, 30); display: block; text-shadow: 1px 1px 0px #143305;
}
.req_b span {
	color: rgb(85, 204, 30); display: block; text-shadow: 1px 1px 0px #143305;
}
.offer a {
	margin: 40px auto 0px; border-radius: 4px; width: 150px; height: 66px; color: rgb(255, 255, 255); line-height: 66px; font-family: "΢���ź�"; font-size: 22px; font-weight:bold; display: block; opacity: 0.9;
}
.req_b a {
	margin: 40px auto 0px; border-radius: 4px; width: 150px; height: 66px; color: rgb(255, 255, 255); line-height: 66px; font-family: "΢���ź�"; font-size: 22px; font-weight:bold; display: block; opacity: 0.9;
}
.offer a:hover {
	background: rgb(116, 211, 72); color: rgb(255, 255, 255);
}
.offer a {
	background: rgb(85, 204, 30);
}
.req_b a {
	background: rgb(235, 171, 0);
}
.req_b a:hover {
	background: rgb(255, 186, 0); color: rgb(255, 255, 255);
}
.money {
	overflow: hidden;
}
.virtual {
	background: rgb(255, 255, 255); margin: 30px 0px 0px 30px; border-radius: 2px; border: 1px solid rgb(228, 229, 231); border-image: none; width: 32%; text-align: center; float: left; min-width: 300px;
}
.virtual h1 {
	padding: 30px 0px 20px; font-family: "΢���ź�"; font-size: 20px; font-weight: normal;
}
.virtual h2 {
	border: currentColor; border-image: none; font-size: 20px;
}
.virtual h3 {
	color: rgb(85, 204, 30); font-size: 18px;
}
.virtual a {
	background: rgb(85, 204, 30); margin: 10px auto 20px; border-radius: 6px; width: 100px; height: 70px; color: rgb(255, 255, 255); font-size: 16px; display: block;
}
.virtual a:hover {
	color: rgb(255, 255, 255);
}
.virtual p {
	line-height: 33px; font-size: 14px;
}
.bonlist {
	background: rgb(255, 255, 255); padding: 20px 30px; margin-top: 10px;
}
.borecord {
	margin-top: 36px; margin-left: 30px;
}
.tab11 {
	border: solid rgb(217, 225, 239); border-image: none; width: 90%; margin-top: 16px; border-spacing: 0;
}
.tab_bor {
	background: rgb(255, 255, 255); border-width: 1px 0px 0px 1px; font-weight: bold;
}
.tab_bor1 {
	background: rgb(249, 249, 249); border-width: 0px 0px 0px 1px; margin-top: 0px;
}
.tab11 td {
	border-width: 0px 1px 1px 0px; border-style: solid; border-color: rgb(217, 225, 239); padding: 10px 5px 10px 16px; border-image: none;
}
