#menu_all {
	height: 35px; margin-top: 98px; margin-left: 200px; float: left; position: relative; z-index: 999;
}
#jsddm li {
	font: 12px/normal Tahoma, Arial; list-style: none; margin: 0px 10px; width: 80px; padding-top: 2px; float: left; z-index: 999; font-size-adjust: none; font-stretch: normal;
}
#jsddm li a {
	width: 80px; height: 33px; text-align: center; color: rgb(255, 255, 255); line-height: 28px; font-size: 14px; font-weight: bold; text-decoration: none; display: block; z-index: 999; cursor: default;
}
#jsddm li a:hover {
	background: url("../Images/menu-hover.png") no-repeat rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(4, 140, 197) rgb(4, 140, 197) currentColor; border-image: none; height: 32px; color: rgb(68, 68, 68); z-index: 999; cursor: pointer;
}
#jsddm li ul {
	background: rgb(251, 251, 251); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(4, 140, 197) rgb(4, 140, 197); padding: 5px 0px 0px; border-image: none; width: 120px; visibility: hidden; position: absolute; z-index: 999;
}
#jsddm li ul li {
	margin: 0px; padding: 0px; height: 25px; line-height: 25px; text-indent: 15px; float: none; display: inline; z-index: 999;
}
#jsddm li ul li a {
	padding: 0px 10px; border: 0px currentColor; border-image: none; width: auto; height: 30px; text-align: left; color: rgb(102, 102, 102); font-size: 12px; font-weight: normal; z-index: 999;
}
#jsddm li ul li a:hover {
	background: rgb(187, 187, 187); border: 0px currentColor; border-image: none; height: 30px; color: rgb(255, 255, 255); z-index: 999;
}
